body{
    background-color:beige;
    color: black;
}
a{
    font-size: larger;
    margin: 0%;
    font-style: oblique;
}
h1{
    font-style: oblique;
}
h2{
    font-style: oblique;
}
li{
    font-style: oblique;
}
img{
    border-radius: 20px;
}
